body{
    margin:10px 10px;
    padding:10px 5px;
    user-select: none;
    background-color:rgb(235,235,235);
}
.reg{
    background-color:rgb(255,255,255);
    border-radius:5px;
}
h2{
    text-align:center;
    padding-top:30px;
}
select{
    margin:20px;
}
label{
    padding:20px;
    color:rgb(80,80,80);
}
#fname,#lname,#mail,#foot{
    margin:10px 20px;
    height:25px;
    width:85%;
}
#genm,#genf{
    margin:10px 20px;
}
#pin1,#pin2,#pin3,#pin4,#pin5,#pin6{
    width:25px;
    height:25px;
    text-align:center;
    font-size:20px;
}
#Aad1,#Aad2,#Aad3,#Aad4,#Aad5,#Aad6,#Aad7,#Aad8,#Aad9,#Aad10,#Aad11,#Aad12{
    width:15px;
    height:25px;
    text-align:center;
    font-size:20px;
}
#lk1,#lk2,#lk3{
    margin-left:20px;
}
#pass{
    height:25px;
    width:85%;
    margin-left:20px;
}
textarea{
    margin-left:20px;
    width:85%;
    height:60px;
}
.foot{
    border:1px solid black;
    margin:20px;
    padding:10px;
    border-radius:5px;
    width:83%;
}
button{
    height:45px;
    width:90px;
    font-size:20px;
    margin:10px 20px;
    background-color:green;
    color:white;
    border:0px;
    border-radius:4px;
}
button:active{
    width:80px;
    height:35px;
    margin:15px 20px;

}
